* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: 200px 1000px;
    grid-template-rows: 200px 200px 200px 200px;
}

.sidebar, 
.header, 
.main-content {
    border: 1px solid black;
}

.sidebar {
    grid-row: 1 / 5;
}

.main-content {
    grid-row: 2 / 5;
}