.container {
    display: grid;
    grid-template-columns: 300px 1500px;
    grid-template-rows: 300px 300px 300px 300px;
}

.sidebar, 
.header, 
.main-content {
    border: 1px solid black;
}

.sidebar {
    grid-row: 1 / 5;
}

.main-content {
    grid-row: 2 / 5;
}