* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: 200px 1000px;
    grid-template-rows: 200px 200px 200px 200px;
}

.sidebar {
    grid-row: 1 / 5;
    background-color: skyblue;
}

.main-content {
    grid-row: 2 / 5;
    background-color: lightgray;
}

.nav {
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
}