* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: 200px 1000px;
    grid-template-rows: 200px 200px 200px 200px;
}

.sidebar {
    grid-row: 1 / 5;
    background-color: #007ac3;
}

.main-content {
    grid-row: 2 / 5;
    background-color: lightgray;
}

.nav {
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    color: white;
    align-items: center;
    justify-content: center;
}

.nav ul {
    display: grid;
    gap: 10px;
}

.nav li {
    list-style-type: none;
}

.dash {
    font-size: 24px;
}

.header {
    display: grid;
    grid-template: 1fr 1fr / 3fr 1fr;
}