* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: 200px 1000px;
    grid-template-rows: 200px 200px 200px 200px;
}

.sidebar {
    grid-row: 1 / 5;
    background-color: #007ac3;
}

.main-content {
    grid-row: 2 / 5;
    background-color: #e4e4e4;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 15px;
}

.nav {
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    color: white;
    align-items: center;
    justify-content: center;
}

.nav ul {
    display: grid;
    gap: 10px;
}

.nav li {
    list-style-type: none;
}

.dash {
    font-size: 24px;
}

.header {
    display: grid;
    grid-template: 1fr 1fr / 3fr 1fr;
}

.search input {
    height: 25px;
    width: 550px;
    border-radius: 25px;
    background-color: #e4e4e4;
    border: 0px;
    margin-top: 25px;
    margin-left: 50px;
}

.profile {
    margin-top: 25px;
}

.welcome {
    display: grid;
    align-items: center;
    margin-left: 50px;
}

.welcome span {
    margin-top: -30px;
}

button {
    background-color: #007ac3;
    color: white;
    border-radius: 25px;
    border: 0px;
    padding: 5px 20px;
}

.projects {
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: 1fr 3fr 3fr 3fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin-left: 10px;
}

.projects-header {
    grid-column: 1 / 3;
    display: grid;
    align-items: end;
}

.cards {
    background-color: white;
    border-radius: 5px;
    border-left: 5px solid #b59410;
}

.announcements {
    display: grid;
    grid-template-rows: 1fr 5fr 1fr;
    margin-right: 15px;
}

.announcements-wrapper {
    background-color: white;
    margin-top: 15px;
    grid-row: 2 / 4;
    border-radius: 5px;
}

.first-announcement, 
.second-announcement {
    border-bottom: 1px solid gray;
    margin-left: 20px;
    margin-right: 20px;
}

.third-announcement {
    margin-left: 20px;
    margin-right: 20px;
}

.announcements-header {
    display: grid;
    align-items: end;
}

.users {
    background-color: white;
    margin-top: 10px;
}

.trending {
    display: grid;
    grid-template-rows: 1fr 6fr 2fr;
    margin-right: 15px;
}

.trending-items {
    display: grid;
    align-items: end;
}

h2 {
    font-size: 16px;
    margin-left: 20px;
    margin-top: 20px;
}

.cards p {
    font-size: 12px;
    margin-left: 20px;
    margin-right: 10px;
}

h3 {
    font-size: 12px;
}

.announcements p {
    font-size: 10px;
}

.users {
    font-size: 12px;
}